#cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz

#environments
.conda/
.ipynb_checkpoints/

#checkpoints
/results/*
.results/

#model files
intent-classifier-model/*
query-tokenizer/*
label_encoder.pkl
recommendation_model.pkl
.intent-classifier-model/
.query-tokenizer/
.label_encoder.pkl/
.recommendation_model.pkl/